The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [1]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!
df = pd.read_csv('data/nobel.csv')
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [2]:
# What is the most commonly awarded gender and birth country?

top_gender=df['sex'].value_counts().index[0]
print("\n The gender with the most Nobel laureates is :", top_gender)

top_country=df['birth_country'].value_counts().index[0]
print(" The most common birth country of Nobel laureates is :", top_country)

 The gender with the most Nobel laureates is : Male
 The most common birth country of Nobel laureates is : United States of America

In [3]:
# What decade had the highest proportion of US-born winners?

df['usa_born_winner'] = df['birth_country'] == 'United States of America'
df['decade'] = (np.floor(df['year'] / 10) * 10).astype(int)

df[['usa_born_winner', 'decade']].head()

   usa_born_winner  decade
0            False    1900
1            False    1900
2            False    1900
3            False    1900
4            False    1900

In [4]:
prop_usa_winners = df.groupby('decade', as_index=False)['usa_born_winner'].mean()
prop_usa_winners

    decade  usa_born_winner
0     1900         0.017544
1     1910         0.075000
2     1920         0.074074
3     1930         0.250000
4     1940         0.302326
5     1950         0.291667
6     1960         0.265823
7     1970         0.317308
8     1980         0.319588
9     1990         0.403846
10    2000         0.422764
11    2010         0.314050
12    2020         0.360000

In [5]:
max_decade_usa = prop_usa_winners[prop_usa_winners['usa_born_winner'] == prop_usa_winners['usa_born_winner'].max()]['decade'].values[0]

print(" The decade with the max proportion of USA born winners is :", max_decade_usa)

 The decade with the max proportion of USA born winners is : 2000

In [6]:
# What decade and category pair had the highest proportion of female laureates?

df['female_winner'] = df['sex'] == 'Female'
prop_f_winners = df.groupby(['decade', 'category'], as_index=False)['female_winner'].mean()

prop_f_winners

    decade    category  female_winner
0     1900   Chemistry       0.000000
1     1900  Literature       0.100000
2     1900    Medicine       0.000000
3     1900       Peace       0.071429
4     1900     Physics       0.076923
..     ...         ...            ...
67    2020   Economics       0.111111
68    2020  Literature       0.500000
69    2020    Medicine       0.125000
70    2020       Peace       0.285714
71    2020     Physics       0.166667

[72 rows x 3 columns]

In [7]:
max_f_decade_category = prop_f_winners[prop_f_winners['female_winner'] == prop_f_winners['female_winner'].max()][['decade', 'category']]

max_female_dict = {max_f_decade_category['decade'].values[0]: max_f_decade_category['category'].values[0]}


print(" The decade-category with the max proportion of female winners is :", max_female_dict)

 The decade-category with the max proportion of female winners is : {2020: 'Literature'}

In [8]:

# Who was the first woman to receive a Nobel Prize, and in what category?
df_women = df[df['female_winner']]
first_woman_row = df_women[df_women['year'] == df_women['year'].min()]

first_woman_name = first_woman_row['full_name'].values[0]
first_woman_category = first_woman_row['category'].values[0]

print(f"\n The first woman to win a Nobel Prize was {first_woman_name}, in the category of {first_woman_category}.")

 The first woman to win a Nobel Prize was Marie Curie, née Sklodowska, in the category of Physics.

In [9]:
# Which individuals or organizations have won multiple Nobel Prizes throughout the years? 

counts = df['full_name'].value_counts()
repeat = counts[counts >= 2].index
repeat_list = list(repeat)

print("\n The multiple winners are :", repeat_list)

 The multiple winners are : ['Comité international de la Croix Rouge (International Committee of the Red Cross)', 'Linus Carl Pauling', 'John Bardeen', 'Frederick Sanger', 'Marie Curie, née Sklodowska', 'Office of the United Nations High Commissioner for Refugees (UNHCR)']